#container {
  width: 800px;
  margin: 20px auto;
}

#myholder {
  margin: 20px 0 0 0;
}

h3 {
  font-family: fantasy;
  text-align: center;
  font-size: 22pt;
}

h5 {
  font-family: fantasy;
  text-align: center;
  font-size: 13pt;
  margin-top: 20px;
}

.text-highlight {
  background: rgb(235, 235, 235);
  padding: 8px 10px 4px 10px;
  border-radius: 5px;
}

.btn-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-holder>button {
  margin: 0px 5px;
}

.btn {
  display: block;
  font-family: fantasy;
  font-size: 15pt;
  padding: 0;
  border: none;
  outline: none;
  height: 50px;
  cursor: pointer;
}

.result-box {
  font-family: fantasy;
  line-height: 60px;
}

.result-box .result {
  font-size: 20px;
}

.result-box .result.correct {
  color: #333;
  background: #69ffca;
  padding: 3px 6px;
  border-radius: 5px;
  border: 2px solid #333;
  box-shadow: 2px 2px 0px #69ffca;
}

.result-box .result.incorrect {
  color: #333;
  background: #ff4747;
  padding: 3px 6px;
  border-radius: 5px;
  border: 2px solid #333;
  box-shadow: 2px 2px 0px #ff4747;
}